/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

/* Navigation Styles */
header {
    background-color: #000;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
    justify-content: center; /* Centriranje stavki u nav */
}

.nav-list li {
    margin: 0 20px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.nav-list a:hover {
    background-color: #333;
}

/* Burger Menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    margin: 6px auto;
    background-color: #fff;
    border-radius: 2px;
}
/* Footer Styles */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    height:100px;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .nav-list.active {
        display: flex;
    }

    .naslov {
        font-size: 4rem; /* Smanjiti naslov za manje ekrane */
    }

    .kontakt-dugme {
        font-size: 16px;
        padding: 12px 30px;
    }
}